### Nama : Wilson Boyaron Hutagalung
### NIM  : 2209106035
### Kelas: Praktikum KB A2 2022
### POSTTEST KB 4

## IMPORT LIBRARY

In [1]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

## IMPORT DATASET

In [2]:
df = pd.read_csv("brain_stroke.csv")

## Menampilkan 10 Data Teratas

In [3]:
df.head(10)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
5,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
6,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
7,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1
8,Female,81.0,1,0,Yes,Private,Rural,80.43,29.7,never smoked,1
9,Female,61.0,0,1,Yes,Govt_job,Rural,120.46,36.8,smokes,1

## Melihat Bentuk Dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   object
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   object
 5   work_type          4981 non-null   object
 6   Residence_type     4981 non-null   object
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   object
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 428.2+ KB

## Data Split

In [5]:
x = df.drop('stroke', axis=1)
y = df['stroke']

##### Melakukan Pembagian dataset menjadi Training Set dan Testing Set dengan Proporsi 70:30

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [7]:
print("Dimensi X_train : ", x_train.shape)
print("Dimensi X_train : ", x_test.shape)
print("Dimensi y_train : ", y_train.shape)
print("Dimensi y_test : ", y_test.shape)

Dimensi X_train :  (3486, 10)
Dimensi X_train :  (1495, 10)
Dimensi y_train :  (3486,)
Dimensi y_test :  (1495,)

## Data Transformation

### Normalisasi Data

In [8]:
df2_Normalisasi = df.copy()

scaler = MinMaxScaler()
scaledData = scaler.fit_transform(df2_Normalisasi[['age']])
df2_Normalisasi['age'] = scaledData

print("Kolom age sebelum dinormalisasi: ")
print(df['age'].describe())
print('\n')
print("Kolom age setelah dinormalisasi: ")
print(df2_Normalisasi['age'].describe())

Kolom age sebelum dinormalisasi:
count    4981.000000
mean       43.419859
std        22.662755
min         0.080000
25%        25.000000
50%        45.000000
75%        61.000000
max        82.000000
Name: age, dtype: float64


Kolom age setelah dinormalisasi:
count    4981.000000
mean        0.529051
std         0.276645
min         0.000000
25%         0.304199
50%         0.548340
75%         0.743652
max         1.000000
Name: age, dtype: float64

In [9]:
df_2 = pd.DataFrame(scaledData)
df_2.rename(columns={0:'age'}, inplace=True)
df_2

           age
0     0.816895
1     0.975586
2     0.597168
3     0.963379
4     0.987793
...        ...
4976  0.499512
4977  0.487305
4978  0.548340
4979  0.487305
4980  0.975586

[4981 rows x 1 columns]

In [10]:
df2_Normalisasi.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,0.816895,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,0.975586,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,0.597168,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,0.963379,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,0.987793,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

### Standarisasi Data

In [11]:
df3 = df.copy()
ss = StandardScaler()
scaledData = ss.fit_transform(df3[["age"]])

In [30]:
print("Nilai Data Sebelum Scaling : ")
print(df3[['age']])
print("Nilai standar deviasi: ", np.std(df3[['age']]))

Nilai Data Sebelum Scaling :
       age
0     67.0
1     80.0
2     49.0
3     79.0
4     81.0
...    ...
4976  41.0
4977  40.0
4978  45.0
4979  40.0
4980  80.0

[4981 rows x 1 columns]
Nilai standar deviasi:  age    22.66048
dtype: float64

In [13]:
print("\n Nilai Data setelah scaling : ")
print(scaledData)
print("Nilai standar deviasi: ", np.std(scaledData))

 Nilai Data setelah scaling :
[[ 1.04058433]
 [ 1.61427033]
 [ 0.24624988]
 ...
 [ 0.06973111]
 [-0.15091734]
 [ 1.61427033]]
Nilai standar deviasi:  1.0

## Data Cleaning

### Mengecek Jumlah Data Null atau Kosong

In [14]:
df.isna().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

### Karena pada dataset saya tidak ada Data Null, maka kita membuat adanya data Null pada dataset kita.

In [15]:
df4 = df.copy()

# Nilai Null pada data bertipe int64
df4.loc[4900:, 'hypertension'] = None

# Nilai NUll pada data bertipe float64
df4.loc[4900:, 'bmi'] = None

# Nilai Null pada data bertipe Object
df4.loc[4900:, 'smoking_status'] = None

print(f"Jumlah nilai null pada attribute hypertension: {df4['hypertension'].isna().sum()}")
print(f"Jumlah nilai null pada attribute bmi: {df4['bmi'].isna().sum()}")
print(f"Jumlah nilai null pada attribute smoking_status: {df4['smoking_status'].isna().sum()}")

Jumlah nilai null pada attribute hypertension: 81
Jumlah nilai null pada attribute bmi: 81
Jumlah nilai null pada attribute smoking_status: 81

##### 4900 itu indeks data awal yang akan di null kan hingga data terakhir pada dataset dan None itu yang akan menjadi Null.

In [16]:
df4.isna().sum()

gender                0
age                   0
hypertension         81
heart_disease         0
ever_married          0
work_type             0
Residence_type        0
avg_glucose_level     0
bmi                  81
smoking_status       81
stroke                0
dtype: int64

### Mengatasi nilai null menggunakan ketentuan, bilangan bulat: median/modus, bilangan desimal: mean, tulisan: modus

In [17]:
#Strategy median untuk int64
df4["hypertension"].fillna(df4["hypertension"].median(), inplace=True)

#Strategy median untuk float64
df4["bmi"].fillna(df4["bmi"].mean(), inplace=True)

#Strategy median untuk object
df4["smoking_status"].fillna(df4["smoking_status"].mode()[0], inplace=True)
# Pakai Indeks 0 untuk menentukan dari banyak modus yang ada kita akan menggunakan yang ada di indeks 0

In [18]:
df4.isna().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

##### Ini adalah hasil ketika tadi pada atribut hypertension,bmi,smoking_status terdapat 81 nilai nullnya. Sekarang Nilai null tersebut sudah berhasil diatasi seperti tampilan di atas semua atribut tidak ada lagi yang memiliki nilai null.

### Membuat Nilai Duplicate, karena pada Dataset saya tidak terdapat data duplicate dan cara mengatasinya

In [19]:
df4.duplicated().sum()

0

##### Ketika data sudah duplicate

In [20]:
df4.iloc[0,:] = df4.iloc[1,:]
df4.duplicated().sum()

1

In [21]:
df4[df4.duplicated()]

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
1,Male,80.0,0.0,1,Yes,Private,Rural,105.92,32.5,never smoked,1

In [22]:
df4.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,80.0,0.0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
1,Male,80.0,0.0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0.0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1.0,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0.0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

### Menghapus Data Duplicate yang telah kita buat

In [23]:
df4.drop_duplicates(inplace=True)
df4.duplicated().sum()

0

## Mengganti Tipe Data Salah Satu Atribut Angka

##### Mengecek Data yang memiliki tipe data angka

In [24]:
df4.dtypes

gender                object
age                  float64
hypertension         float64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

##### Mengubah atribut stroke yang awalnya tipe data int46(angka) menjadi float46

In [25]:
df4['stroke'] = df['stroke'].astype("float")
df4.dtypes

gender                object
age                  float64
hypertension         float64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke               float64
dtype: object

In [26]:
df4

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,80.0,0.0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1.0
2,Female,49.0,0.0,0,Yes,Private,Urban,171.23,34.400000,smokes,1.0
3,Female,79.0,1.0,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1.0
4,Male,81.0,0.0,0,Yes,Private,Urban,186.21,29.000000,formerly smoked,1.0
5,Male,74.0,1.0,1,Yes,Private,Rural,70.09,27.400000,never smoked,1.0
...,...,...,...,...,...,...,...,...,...,...,...
4976,Male,41.0,0.0,0,No,Private,Rural,70.15,28.483265,never smoked,0.0
4977,Male,40.0,0.0,0,Yes,Private,Urban,191.15,28.483265,never smoked,0.0
4978,Female,45.0,0.0,0,Yes,Govt_job,Rural,95.02,28.483265,never smoked,0.0
4979,Male,40.0,0.0,0,Yes,Private,Rural,83.94,28.483265,never smoked,0.0
4980,Female,80.0,0.0,0,Yes,Private,Urban,83.75,28.483265,never smoked,0.0

## One-Hot Encoding Menggunakan Pandas

##### Untuk Mengetahui Data Pada atribut Gender itu Male dan Femele

In [27]:
df.gender.unique()

array(['Male', 'Female'], dtype=object)

##### Mengubah data kategorikal menjadi numerik pada atribut gender

In [28]:
OH_Encoding = pd.get_dummies(df[["gender"]])
df5 = df.join(OH_Encoding.astype(int))

In [29]:
df5.drop(columns=['gender'], inplace=True)
df5.head()

,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,gender_Female,gender_Male
0,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,0,1
1,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,0,1
2,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,1,0
3,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,1,0
4,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1,0,1

##### Diatas adalah hasil tampilan dari perubahan data pada atribut gender yang dimana pada atribut dataset ditambahkan  menjadi gender_female dan gender_male dan atribut gender saya hapus dan untuk mengetahui gendernya, kita dapat melihat jika disetiap atributnya terdapat angka 1 berarti gender nya jika 0 bukan.